.preview {
    width: 100%;
}

.buttons {
    justify-content: center;
    width: 100%;
}

.hint {
    display: block;
    text-align: center;
}

.tree {
    overflow: hidden;
    word-break: break-all;
}

.issueList {
    margin-bottom: 12px;
}