.button, 
:global(.djs-minimap) {
    position: absolute;
    left: 20px;
    bottom: 20px;
    top: unset;
    right: unset;
}

:global .djs-minimap.djs-minimap .toggle:before {
    content: attr(title);
}

:global .djs-minimap:not(.open) .toggle {
    width: unset;
    padding: 10px;
    height: unset;
    line-height: unset;
    cursor: pointer;

}

:global .djs-minimap .toggle {
    display: none;
}