.propertiesPanel {
    position: absolute;
    margin: 20px 0;
    top: 0;
    right: 20px;
    width: 320px;
    max-height: calc(100vh - 40px);
}

.menuBar {
    position: absolute;
    top: 20px;
    left: 20px;
}

.propertiesPanel,
.menuBar {
    z-index: 600;
}

:global(.djs-palette) {
    top: 60px;
}