.inputResult :global(.ant-result-title) {
    font-size: 20px;
}

.uploadDrag :global(.ant-upload.ant-upload) {
    padding: 0;
}

.preview,
.preview * {
    width: 100%;
    max-width: 100%;
}

.buttons {
    text-align: right;
    margin-top: 5px;
}