.dataInputIcon {
    transform: scale(-1, 1);
    color: #389e0d;
}

.dataOutputIcon {
    color: #fa541c;
}

.dataInputOutputSubTitle > span {
    display: block;
}

.dataInputOutputSubTitle > span:not(:first-child) {
    padding-left: 18px;
    font-style: italic;
    font-size: 12px;
}